/* Import Google Fonts for Montserrat, Playfair Display, and Smooch Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&display=swap');

/* Reset box-sizing for all elements to border-box */
* {
  box-sizing: border-box;
}

/* Set default styles for the body element */
body {
    margin: 0;
    padding: 0;
}

/* Set the style for the navigation bar */
nav{
    background-color: #688d92;
    padding: 10px;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Set the style for the navigation list */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: flex-end;
}

nav li {
    border-right: 1px solid #ffffff;
    padding: 15px;
}

nav li:hover {
    border-right-color: #b42828;
}

nav li:hover a {
    color: #b42828;
}

nav i {
    padding: 5px;
}

/* Set the style for the navigation links */
nav a {
    text-decoration: none;
    font-family: "Montserrat", system-ui;
    font-weight: 300;
    color: #ffffff;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", system-ui;
    flex-basis: 100%;
    height: 100px;
    padding: 30px;
    margin: 0;
    text-align: center;
    background-color: #3a6268;
    color: #ffffff;
}

h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}
h3 a {
    color: #93e8f3;
    text-decoration: none;
    font-style: italic;
}

/* Style for the button container and buttons */
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #219766;
    color: #ffffff;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #104d33;
}

/* Style for the Football section and its list items */
#Football ul {
    list-style-type: none;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#Football li {
    flex: 0 0 calc(33.333% - 14px);
    border: 1px solid #cccccc;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

#Football li img{
    margin: 10px;
}

/* Style for the league and team images and descriptions */
.leagueImage, .leagueDescription, .teamImage, .teamDescription {
    flex-basis: 50%;
}

.leagueDescription p, .teamDescription p {
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    margin: 0;
    padding: 10px;
}